@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Poppin';
    src: url('./assets/fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url('./assets/fonts/Poppins-Bold.ttf');
}

@layer base {
    body {
        @apply bg-black-primary;
    }

    ::-webkit-scrollbar-track {
        @apply bg-zinc-800;
    }

    ::-webkit-scrollbar-thumb {
        @apply bg-violet-700;
    }
}

@layer components {
    .ocean {
        @apply bg-gradient-to-r from-[#84FAB0] to-[#8FD3F4]
    }
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Poppin';
    color: white;
}

p {
    margin: 0;
    padding: 0;
}