@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Dosis';
    src: url('./assets/fonts/Dosis-Regular.ttf');
}

@font-face {
    font-family: 'Dosis-Bold';
    src: url('./assets/fonts/Dosis-Bold.ttf');
}

@layer base {
    body {
        @apply bg-zinc-800;
    }

    ::-webkit-scrollbar-track {
        @apply bg-zinc-800;
    }

    ::-webkit-scrollbar-thumb {
        @apply bg-violet-700;
    }
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Dosis';
    color: white;
}

p {
    margin: 0;
    padding: 0;
}