@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Dosis';
    src: url('./assets/fonts/Dosis-Regular.ttf');
}

@font-face {
    font-family: 'Dosis-Bold';
    src: url('./assets/fonts/Dosis-Bold.ttf');
}

@layer base {
    body {
        @apply bg-zinc-800;
    }
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Dosis';
    color: white;
}